<% flash.each do |type, msg| %>
  <div class="alert alert-danger text-center" role="alert">
    <%= msg %>
  </div>
<% end %>
<h1>Edite le commentaire</h1>

<%= form_with model: @comment do |form|%>
  <div class="mb-3">
    <%= form.label :content %><br>
    <%= form.text_area :content %>
    <% @comment.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
