<div class="container d-inline-flex align-items-center p-0">
  <h1><%="#{@user.first_name} #{@user.last_name}"%></h1>
  <span class="mx-3"><%= render partial: "like_buttons", locals: { object: @user, path: "user_likes_path", delete_path: "user_like_path"} %></span>
</div>
<p>
  Âge : <%=@user.age%><br>
  Email : <%=@user.email%><br>
  Ville : <%= link_to @user.city.name, city_path(@user.city.id) %><br>
  Description : <%=@user.description%><br>
  Profil créé le <%=@user.created_at.strftime('%d/%m/%y')%>
</p>
<p> 
  <h3>Ses potins :</h3> 
  <% @user.gossips.each do |gossip| %>
    <div class="container my-2 px-0">
      <%= link_to gossip.title, gossip_path(gossip.id)%><br>
      <%=gossip.content%><br>
      <span class="container d-inline-flex align-items-center p-0">
        Créé le <%=gossip.created_at.strftime('%d/%m/%y')%>
        - <%= gossip.comments.count %> commentaire(s)
        - <%= gossip.likes.count %> like(s) 
        <span class="mx-3"><%= render partial: "like_buttons", locals: { object: @user, path: "user_likes_path", delete_path: "user_like_path"} %></span>
      </span>
    </div>
  <%end%>
</p>
