<h1 class="my-3">Tous les potins !</h1>
<% if @gossips.empty? %>
  <div>
    Il semblerait qu'il n'y ait aucun potin pour le moment... Connecte-toi vite pour bitcher sur tes amis !
  </div>
<% end %>
<%@gossips.in_groups_of(4) do |group|%>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 text-center mt-3">
    <%group.each do |gossip|%>
      <%unless gossip.nil?%>
        <div class="col py-1">
          <div class="card" >
            <div class="card-body pb-2">
              <h6 class="card-subtitle mb-1 text-muted">Selon <%=gossip.user.first_name%>...</h6>
              <p class="card-text mb-1"><%= gossip.content %></p>
              <div class="btn-group my-1" role="group" aria-label="Like and comment">
                <%= render partial: 'like_buttons', locals: { object: gossip, path: "gossip_likes_path", delete_path: "gossip_like_path" } %>
                <%= render partial: 'comment_buttons', locals: { object: gossip } %>
              </div>
              <div>
                <% gossip.tags.each do |tag| %>
                  <%= link_to tag.title, tag %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
<%end%>

