<% flash.each do |type, msg| %>
  <div class="alert alert-success text-center" role="alert">
    <%= msg %>
  </div>
<% end %>
<h1 class="my-3">Tous les potins !</h1>
<% if @gossips.empty? %>
  <div>
    Il semblerait qu'il n'y ait aucun potin pour le moment... Connecte-toi vite pour bitcher sur tes amis !
  </div>
<% end %>
<%@gossips.in_groups_of(4) do |group|%>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 text-center mt-3">
    <%group.each do |gossip|%>
      <%unless gossip.nil?%>
        <div class="col py-1">
          <div class="card" >
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Selon <%=gossip.user.first_name%>...</h6>
              <p class="card-text"><%= gossip.content %></p>
              <div>
                <% gossip.tags.each do |tag| %>
                  <%= link_to tag.title, tag %>
                <% end %>
              </div>
              <span>
                <% if logged_in? %>
                  <% if gossip.liked?(current_user) %>
                    <%= button_to "Unlike", unlike_path(gossip), method: "delete", class: "btn btn-danger" %>
                  <% else %>
                    <%= button_to "Like", like_path(gossip), method: "put", class: "btn btn-primary" %>
                  <% end %>
                <% end %>
                <%= link_to "Page du potin", gossip_path(gossip.id)%>
                <%= gossip.comments.count %> commentaire(s) 
                <%= gossip.likes.count %> like(s)
              </span>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
<%end%>

