<h1 class="my-3">Tous les potins !</h1>
<% if @gossips.empty? %>
  <div>
    Il semblerait qu'il n'y ait aucun potin pour le moment... Connecte-toi vite pour bitcher sur tes amis !
  </div>
<% end %>
<%@gossips.in_groups_of(4) do |group|%>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 text-center mt-3">
    <%group.each do |gossip|%>
      <%unless gossip.nil?%>
        <div class="col py-1">
          <div class="card" >
            <h6 class="card-header text-muted">
              <a href="<%= gossip_path(gossip) %>" class="stretched-link text-decoration-none mb-1"><%= gossip.title %></a>
              <div>Selon <%=gossip.user.first_name%>...</div>
            </h6>
            <div class="card-body pb-2">
              <p class="card-text text-truncate mb-1"><%= gossip.content %></p>
              <div class="btn-group my-1" role="group" aria-label="Like and comment">
                <%= render partial: 'like_buttons', locals: { object: gossip, path: "gossip_likes_path", delete_path: "gossip_like_path" } %>
                <%= render partial: 'comment_buttons', locals: { object: gossip } %>
              </div>
              <div>
                <% gossip.tags[0..2].each do |tag| %>
                  <%= link_to tag.title, tag, class: "link-secondary" %>
                <% end %>
                <% if gossip.tags.count > 3 %>
                  <%= "et #{gossip.tags.count - 3} autre" + (gossip.tags.count == 4 ? "" : "s") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
<%end%>

