<h1><%= @gossip.title %></h1>

<p class="mb-1">
  <% @gossip.tags.sort_by(&:title).each do |tag| %>
    <%= link_to tag.title, tag %>
  <% end %>
<p> 
  Par <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", user_path(@gossip.user.id) %> 
  (<%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %>)
</p>
<div class="my-2"><%= @gossip.content %></div>
<div class="my-2"><small>  Posté le <%= @gossip.created_at.strftime('%d/%m/%y') %> à <%= @gossip.created_at.strftime('%k:%M') %></small></div>

<h5> Commentaires </h5>

<% if @gossip.comments.empty? %>
  <div> Aucun commentaire... pour le moment !</div>
<% end %>

<ul>
  <%= render @gossip.comments %>
</ul>

<% if logged_in? %>
  <%= form_for [@gossip, Comment.new] do |form|%>
    <div class="mb-3">
      <%= form.label 'Commenter' %><br>
      <%= form.text_area :content, placeholder: "Ajoutez un commentaire" %>
      <% @comment.errors.full_messages_for(:content).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.submit "Commenter" %>
    </div>
  <% end %>
<% end %>

<h5 class="mt-4">Likes</h5>

<% unless @gossip.likes.empty? %>
  <span>
    Liké par :
    <%= @gossip.likes.sort_by(&:created_at).map { |like| like.user.first_name }.join(' , ') %>
  </span>
<% end %>

<div class="mt-2">
  <% if logged_in? %>
    <% if @gossip.liked?(current_user) %>
      <%= button_to "Je n'aime plus", unlike_path(@gossip), method: "delete", class: "btn btn-danger" %>
    <% else %>
      <%= button_to "J'aime", like_path(@gossip), method: "put", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
  

<% if current_user == @gossip.user %>
  <div class="mt-2">
    <%= link_to "Editer le potin", edit_gossip_path %>
    <%= link_to "Supprimer le potin", gossip_path(@gossip), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>

