<% flash.each do |type, msg| %>
  <div class="alert alert-success text-center" role="alert">
    <%= msg %>
  </div>
<% end %>
<h1><%= @gossip.title %></h1>
<p class="mb-1">
  <% @gossip.tags.sort_by(&:title).each do |tag| %>
    <%= link_to tag.title, tag %>
  <% end %>
<p> 
  Par <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", user_path(@gossip.user.id) %> 
  (<%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %>)
</p>
<p><%= @gossip.content %><br>
  Posté le <%= @gossip.created_at.strftime('%d/%m/%y') %>
</p>
<h5> Commentaires </h5>
<ul>
  <% @gossip.comments.sort_by(&:created_at).each do |comment| %>
    <li>
    <%=comment.user.first_name %> : <%=comment.content %> 
    <% if current_user == comment.user %>
      <%= link_to "Editer", edit_comment_path(comment.id) %> 
      <%= link_to "Supprimer", comment_path(comment.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
    </li>
  <% end %>
</ul>
<% if logged_in? %>
  <%= form_with model: @comment do |form|%>
    <div class="mb-3">
      <%= form.label 'Commenter' %><br>
      <%= form.text_area :content %>
      <% @comment.errors.full_messages_for(:content).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<h5 class="mt-4">Likes</h5>
<span>
  Liked by :
  <%= @gossip.likes.sort_by(&:created_at).map { |like| like.user.first_name }.join(' , ') %>
</span>

<div class="mt-2">
  <% if logged_in? %>
    <% if @gossip.liked?(current_user) %>
      <%= button_to "Unlike", unlike_path(@gossip), method: "delete" %>
    <% else %>
      <%= button_to "Like", like_path(@gossip), method: "put" %>
    <% end %>
  <% end %>
</div>
  

<% if current_user == @gossip.user %>
  <div class="mt-2">
    <%= link_to "Editer le potin", edit_gossip_path %>
    <%= link_to "Supprimer le potin", gossip_path(@gossip), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>

